@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Printing Employee information</h2>



@{
    // var emp = ViewBag.MyEmp;
    // if(emp != null)
    // {
    //     <h2>ID: @emp.EmpId</h2>
    //     <h2>Name: @emp.EmpName</h2>
    //     <h2>Designation: @emp.EmpDesig</h2>
    //     <h2>Salary: @emp.EmpSal</h2>
    // }

    var emps = TempData["employees"] as List<Employee>;

    foreach(var emp in emps)
    {
        if(emp != null)
        {
            <h3>ID: @emp.EmpId</h3>
            <h3>Name: @emp.EmpName</h3>
            <h3>Designation: @emp.EmpDesig</h3>
            <h3>Salary: @emp.EmpSal</h3>
            <br />
        }
    }
}
